/**
 *  Master Slider
 * 	Core css file
 */

.master-slider{
	position: relative;
	visibility: hidden;
	-moz-transform: translate3d(0 , 0 , 0);
}

.master-slider a {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

.master-slider, .master-slider * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.master-slider.before-init{}

.master-slider.ms-fullheight{height: 100%;}

.ms-layout-partialview .ms-view {
	overflow: visible;
	background-color:transparent;
}

.ms-layout-partialview .ms-container { overflow: hidden; }

.master-slider img, .ms-slide-bgvideocont video {max-width:none;}

.ms-ie img{border:none;}
.ms-ie8 * {opacity:inherit;filter:inherit;}
.ms-ie7   {zoom:1;}

.ms-moz .ms-slide-bgcont>img { transform: translateX(0px); }

.ms-loading-container{
	position:absolute;
	width:100%;
	top:0;
}

.ms-slide-auto-height { display: table; }

.ms-loading-container .ms-loading,
.ms-slide .ms-slide-loading {
	width: 36px;
	height: 36px;
	background: url(loading-2.gif) no-repeat center white;
	border-radius: 60px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -18px;
	opacity: 0.9;
}


/* grab cursor */
.ms-no-swipe, .ms-def-cursor{cursor:auto !important;}
.ms-grab-cursor{cursor: url(grab.png), move;}
.ms-grabbing-cursor{cursor: url(grabbing.png), move;}
.ms-ie .ms-grab-cursor{cursor: move;}
.ms-ie .ms-grabbing-cursor {cursor: move;}

.ms-view {
	margin:0px auto;
	overflow:hidden;
	background:black;
	position:relative;
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}

.ms-view .ms-slide-container{position:relative;}

.ms-slide {
	position:absolute;
	height:100%;
	-webkit-transform: translateZ(0px);
	-ms-transform: translateZ(0px);
	-o-transform: translateZ(0px);
	transform: translateZ(0px);
}

.ms-wk .ms-slide {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.ms-slide.selected {}

.ms-slide .ms-slide-bgcont,
.ms-slide .ms-slide-bgvideocont{
	position: absolute;
	overflow:hidden;
	width: 100%;
}

.ms-slide .ms-slide-link {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	z-index: 110;
}

.ms-ie .ms-slide-link {
	background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBR‌​AA7") 0 0 repeat;
}


.ms-slide .ms-slide-bgvideocont{
	z-index: 105;
	height: 100%;
}

.ms-wk .ms-slide .ms-slide-bgvideocont,
.ms-wk .ms-slide-bgvideocont>video{
	-webkit-transform: translateZ(0.3px);
	transform: translateZ(0.3px);
}

.ms-slide .ms-slide-bgvideo{
	position: absolute;
	top: 0px;
}

.ms-inner-controls-cont, .ms-container {position: relative; margin:0 auto;}
.ms-slide .ms-slide-bgcont img , .ms-container , .ms-inner-controls-cont{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.ms-slide .ms-layer, .ms-fixed-layers .ms-layer {position:absolute;pointer-events: auto}

.ms-slide .ms-slide-layers,
.ms-fixed-layers {
	position: absolute;
	overflow:hidden;
	width:100%;
	height: 100%;
	z-index: 109;
	top:0px;
	pointer-events: none;
}

.ms-slide .ms-slide-video{
	position:absolute;
	top:0;
	z-index: 111;
	background:black;
	padding:0;
	margin: 0;
	border: none;
}

.ms-parallax-layer {
	width: 100%;
	position: absolute;
	top: 0;
}

.ms-scroll-parallax-cont{
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
}

.ms-wk .ms-scroll-parallax-cont{
	-webkit-transform: translateZ(0.4px);
	transform: translateZ(0.4px);
}

/*.ms-scroll-parallax .ms-sl-selected .ms-scroll-parallax-cont,
.ms-scroll-parallax .ms-sl-selected .ms-slide-bgcont{}
.ms-scroll-parallax .ms-slide-bgcont{}*/

/*-----------------------------------------------------------*/
.ms-action-layer{cursor: pointer;}
.ms-btn-container{position: absolute;}
.ms-btn {
	text-decoration: none;
	display: inline-block;
	color:black;
	position: relative;
	padding: 8px 15px;
	cursor: pointer;
	white-space: nowrap;
}

.ms-default-btn{
	background: #0074A2;
	border-radius: 5px;
	color: #FFF;
}
.ms-default-btn:hover{background-color: #0098D5;}
.ms-default-btn:active{top:1px;}


.ms-btn-s{
    padding: 14px 17px;
    font-size: 80%;
    line-height: 0;
}

.ms-btn-m{
    padding: 12px 40px;
}

.ms-btn-n{
    padding: 8px 25px;
    font-size: 95%;
}

.ms-btn-l{
    padding: 17px 50px;
    font-size: 120%;
}

.ms-btn-box{}
.ms-btn-round{border-radius: 5px;}
.ms-btn-circle{border-radius: 100px;}
.ms-btn-outline-box{}
.ms-btn-outline-round{border-radius: 5px;}
.ms-btn-outline-circle{border-radius: 100px;}
/*-----------------------------------------------------------*/

.ms-layer.video-box{background:black;}
.ms-layer.video-box iframe{
	padding:0;
	margin: 0;
	border: none;
	position: absolute;
	z-index: 111;
}

.ms-slide .ms-slide-vpbtn , .ms-slide .ms-video-btn{
	position:absolute;
	cursor: pointer;
	z-index: 112;
}

.ms-slide .ms-slide-vcbtn{
	position:absolute;
	cursor: pointer;
	z-index: 113;
}

.ms-slide-vcbtn-mobile{
	position: relative;
	bottom: 0;
	left:0;
	width:100%;
	height: 28px;
	background-color: black;
	color: white;
	text-align: center;
	cursor: pointer;
	z-index: 113;
}

.ms-slide-vcbtn-mobile .ms-vcbtn-txt {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.75em;
    display: inline-block;
    background: url(video-close-btn.png) no-repeat 0px 3px;
    padding-left: 15px;
    height: 15px;
    color: #DBDBDB;
    margin-top: 7px;
}

.ms-wk .ms-slide .ms-slide-vcbtn,
.ms-wk .ms-slide .ms-slide-layers,
.ms-wk .ms-slide .ms-slide-vpbtn,
.ms-wk .ms-slide .ms-slide-video,
.ms-wk .ms-slide-link {
	-webkit-transform: translateZ(0.44px);
	transform: translateZ(0.44px);
}

.ms-video-img{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.ms-mask-frame{
	overflow:hidden;
	position:absolute;
	float:left;
}

/* controls */

.ms-thumb-list{
	overflow:hidden;
	position:absolute;
}

.ms-thumb-list.ms-dir-h {width: 100%;}
.ms-thumb-list.ms-dir-v {height: 100%; top: 0;}
.ms-thumbs-cont{position: relative;}
.ms-thumb-frame img{width:100%;	height:auto;}
.ms-thumb-frame{
	cursor: pointer;
	float: left;
	overflow: hidden;
	opacity: 0.5;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}
.ms-thumb-frame-selected{ opacity: 1; }

.ms-tabs .ms-thumb-frame {
	background-color: #F6f6f6;
	text-shadow: 0 1px 1px white;
	color: #222;
	border: solid 1px white;
	border-width: 0 1px 1px 0;
	overflow: visible;
	position: relative;
	opacity: 1;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.ms-tabs.ms-dir-h .ms-thumb-frame {margin-top: 12px;}
.ms-tabs.ms-dir-v .ms-thumb-frame {margin-left: 12px;}
.ms-tabs.ms-dir-v.ms-align-left .ms-thumb-frame {margin-left: 0px;}
.ms-tabs.ms-dir-h.ms-align-top {z-index: 140;}
.ms-tabs.ms-dir-h.ms-align-top  .ms-thumb-frame{margin-top: -12px;}
.ms-tabs .ms-thumb{padding: 20px 20px;}
.ms-tabs .ms-thumb-frame-selected {	opacity: 1; background: #EDEDED;}
.ms-tabs .ms-thumb-frame .ms-thumb-ol {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.ms-tabs.ms-dir-h .ms-thumb-frame .ms-thumb-ol {
	top: 0px;
    left: 50%;
    margin-left: -12px;
	border-bottom: solid 12px #F6f6f6;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
}

.ms-tabs.ms-dir-h.ms-align-bottom .ms-thumb-frame-selected .ms-thumb-ol{
	opacity: 1;
	top:-12px;
	border-bottom-color: #EDEDED;
}

.ms-tabs.ms-dir-h.ms-align-top .ms-thumb-frame .ms-thumb-ol {
	bottom: 0px;
	top:auto;
	border-bottom:0px;
	border-top: solid 12px #F6f6f6;
}

.ms-tabs.ms-dir-h.ms-align-top .ms-thumb-frame-selected .ms-thumb-ol{
	opacity: 1;
	bottom:-12px;
	border-top-color: #EDEDED;
}

.ms-tabs.ms-dir-v .ms-thumb-frame .ms-thumb-ol {
	top: 50%;
    left: 0;
    margin-top: -12px;
    border-right: solid 12px #EDEDED;
    border-top: solid 12px transparent;
    border-bottom: solid 12px transparent;
}

.ms-tabs.ms-dir-v.ms-align-right .ms-thumb-frame-selected .ms-thumb-ol{
	opacity: 1;
	left:-12px;
	border-right-color:#EDEDED;
}

.ms-tabs.ms-dir-v.ms-align-left .ms-thumb-frame .ms-thumb-ol {
    left: auto;
    right: 0;
    border-right: 0;
    border-left: solid 12px #EDEDED;
}

.ms-tabs.ms-dir-v.ms-align-left .ms-thumb-frame-selected .ms-thumb-ol{
	opacity: 1;
	right:-12px;
	border-left-color:#EDEDED;
}

/* horizontal thumblist arrows*/
.ms-thumb-list.ms-dir-h .ms-thumblist-fwd, .ms-thumb-list.ms-dir-h .ms-thumblist-bwd {
    height: 100%;
    width: 20px;
    position: absolute;
    left: 0;
    cursor: pointer;
    background: rgba(128, 128, 128, 0.5);
    text-align: center;
    color: white;
}

.ms-thumb-list.ms-dir-h .ms-thumblist-bwd {
    right: 0;
    left: auto;
}

.ms-thumb-list.ms-dir-h .ms-thumblist-fwd:after, .ms-thumb-list.ms-dir-h .ms-thumblist-bwd:after {
  content: close-quote;
  top: 43%;
  position: relative;
  border: solid rgba(0, 0, 0, 0);
  border-width: 5px 5px 5px 0px;
  display: block;
  border-right-color: #FFF;
  width: 6px;
  height: 1px;
}

.ms-thumb-list.ms-dir-h .ms-thumblist-bwd:after {
  border-width: 5px 0px 5px 5px;
  border-left-color: #FFF;
  left: 7px;
}

/* vertical thumblist arrows */
.ms-thumb-list.ms-dir-v .ms-thumblist-fwd, .ms-thumb-list.ms-dir-v .ms-thumblist-bwd {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    cursor: pointer;
    background: rgba(128, 128, 128, 0.5);
    text-align: center;
    color: white;
}

.ms-thumb-list.ms-dir-v .ms-thumblist-bwd {
    bottom: 0;
    top: auto;
}

.ms-thumb-list.ms-dir-v .ms-thumblist-fwd:after, .ms-thumb-list.ms-dir-v .ms-thumblist-bwd:after {
  content: close-quote;
  left: 43%;
  position: relative;
  border: solid rgba(0, 0, 0, 0);
  border-width: 0px 5px 5px 5px;
  display: block;
  border-bottom-color: #FFF;
  height: 1px;
  top: 5px;
  width: 0;
}

.ms-thumb-list.ms-dir-v .ms-thumblist-bwd:after {
  border-width: 5px 5px 0px 5px;
  border-top-color: #FFF;
  top: 7px;
}


.ms-bullet{cursor:pointer;float: left;}
.ms-bullets.ms-dir-h {
	position: absolute;
	bottom: 20px;
	right: 50%;
	width: 100px;
}

.ms-bullets.ms-dir-v {
	position: absolute;
	top:50%;
}

.ms-bullets.ms-dir-v .ms-bullet{
	float: none;
}
.ms-bullets.ms-dir-h .ms-bullets-count {
	position: relative;
	right: -50%;
}

.ms-sbar {position: absolute;}
.ms-sbar.ms-dir-h {
	left: 10px;
	right: 10px;
	top: 5px
}

.ms-sbar.ms-dir-v {
	top: 10px;
	bottom: 10px;
	right: 5px
}

.ms-sbar .ms-bar {
	height: 4px;
	background: #333;
	border-radius: 4px;
}

.ms-sbar.ms-dir-v .ms-bar {	width: 4px;}

.ms-sbar .ms-bar{
	position:relative;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}

.ms-timerbar {
	width: 100%;
	bottom: 0px;
	position: absolute;
}

.ms-ctimer {
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
}

.ms-ctimer-bullet {}

.ms-time-bar{
	-webkit-transition: width 120ms linear;
	-moz-transition: width 120ms linear;
	-ms-transition: width 120ms linear;
	-o-transition: width 120ms linear;
	transition: width 120ms linear;

}

.ms-ie7 .ms-tooltip-arrow{
	height:0px;
}

.ms-slide-info {position: absolute;}
.ms-slide-info.ms-dir-v {top:0;}
.ms-slide-info.ms-dir-h {width:100%;}

@keyframes point-anim{
	0% 		{transform: scale(0.5); -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -o-transform: scale(0.5); -ms-transform: scale(0.5);  opacity: 1; }
	100% 	{transform: scale(0.5); -webkit-transform: scale(0.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); -ms-transform: scale(1.5);  opacity: 0; }
}

@-webkit-keyframes point-anim{
	0% 		{-webkit-transform: scale(0.5); opacity: 1; }
	100% 	{-webkit-transform: scale(1.5);	opacity: 0; }
}

/* In Android browser, using css animations over slider causes some crashes */
.ms-android .ms-tooltip-point .ms-point-border{
	animation:none;
	-moz-animation:none;
	-webkit-animation:none;
	-o-animation:none;
}

.master-slider.margintop {
    top: -80px;
}
.master-slider.margintop-2 {
    top: -251px;
}
.master-slider.margintop-3 {
    top: -83px;
}
.master-slider.margintop-4 {
    top: -111px;
}
@media (max-width:999px) {

.master-slider.margintop {
    top:0px;
}
.master-slider.margintop-4 {
    top: 0;
}
.master-slider.margintop-3 {
    top: 0;
}

}


/*===============================================
		Master Slider Default Skin
================================================*/

.ms-skin-default .ms-slide .ms-slide-vpbtn, .ms-skin-default .ms-video-btn {
	width: 50px;
	height: 51px;
	background: url(light-skin-1.png) no-repeat -14px -150px;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
}
.ms-skin-default .ms-slide .ms-slide-vcbtn {
	width: 30px;
	height: 30px;
	background: url(light-skin-1.png) no-repeat -24px -28px;
	top: 18px;
	right: 30px;
}
/* controls */

.ms-skin-default .ms-nav-next, .ms-skin-default .ms-nav-prev {
	width: 30px;
	background: url(light-skin-1.png);
	background-position: -89px -26px;
	height: 40px;
	cursor: pointer;
	top: 50%;
	left: 30px;
	margin-top: -20px;
	position: absolute;
	z-index: 110;
}
.ms-skin-default .ms-nav-next {
	right: 30px;
	left: auto;
	background-position: -89px -103px;
}
.ms-skin-default .ms-bullet {
	width: 10px;
	height: 10px;
	background: url(light-skin-1.png) no-repeat;
	margin: 4px;
	background-position: -34px -117px;
}
.ms-skin-default .ms-bullet-selected {
	background-position: -34px -84px;
}
.ms-skin-default .ms-time-bar {
	height: 3px;
	background: #FFFFFF;
	border-top: solid 1px rgba(0, 0, 0, 0.41);
}
.ms-skin-default .ms-tooltip {
	position: absolute;
	z-index: 210;
	cursor: auto;
}
.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow, .ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow {
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
	position: absolute;
	left: 50%;
	margin-left: -10px;
}
.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow {
	border-top: solid 10px;
	border-top-color: silver;
	border-top-color: rgba(240, 240, 240, 0.88);
	bottom: -10px;
}
.ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow {
	border-bottom: solid 10px;
	border-bottom-color: silver;
	border-bottom-color: rgba(240, 240, 240, 0.88);
	top: -10px;
}
.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow, .ms-skin-default .ms-tooltip-left .ms-tooltip-arrow {
	border-top: solid 10px transparent;
	border-bottom: solid 10px transparent;
	position: absolute;
	top: 50%;
	margin-top: -10px;
}
.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow {
	border-right: solid 10px;
	border-right-color: silver;
	border-right-color: rgba(240, 240, 240, 0.88);
	left: -10px;
}
.ms-skin-default .ms-tooltip-left .ms-tooltip-arrow {
	border-left: solid 10px;
	border-left-color: silver;
	border-left-color: rgba(240, 240, 240, 0.88);
	right: -10px;
}
.ms-skin-default .ms-tooltip-point {
	cursor: pointer;
}
.ms-skin-default .ms-tooltip-point .ms-point-center {
	width: 12px;
	height: 12px;
	border-radius: 15px;
	border: solid 2px #BBB;
	background: white;
	margin: -8px 0 0 -8px;
	position: absolute;
	z-index: 105;
}
.ms-skin-default .ms-tooltip-point .ms-point-border {
	width: 22px;
	height: 22px;
	background: black;
	background: rgba(0, 0, 0, 0.36);
	margin: -11px 0 0 -11px;
	position: absolute;
	border-radius: 15px;
	animation: point-anim 1.5s infinite;
	-moz-animation: point-anim 1.5s infinite;
	-webkit-animation: point-anim 1.5s infinite;
	-o-animation: point-anim 1.5s infinite;
}
.ms-skin-default .ms-tooltip {
	max-width: 200px;
}
.ms-skin-default .ms-tooltip-cont {
	padding: 10px;
	background: silver;
	background: rgba(240, 240, 240, 0.88);
	text-shadow: 0 1px 0px white;
	margin-left: -1px;
}

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
 .ms-skin-default .ms-slide .ms-slide-vpbtn,  .ms-skin-default .ms-video-btn,  .ms-skin-default .ms-slide .ms-slide-vcbtn,  .ms-skin-default .ms-nav-next,  .ms-skin-default .ms-nav-prev,  .ms-skin-default .ms-bullet {
 background-image:url(light-skin-1-retina.png);
 background-size: 152px 225px;
}
}
/*slider buttons*/

.ms-layer.sbut1 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	border: 2px solid #fff;
	padding: 11px 36px;
	cursor: pointer;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.3s ease 0s;
}
.ms-layer.sbut1:hover {
	color: #242424;
	border: 2px solid #fff;
	background-color: #fff;
}
.ms-layer.sbut2 {
	color: #242424;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.3s ease 0s;
	background-color: #fff;
}
.ms-layer.sbut2:hover {
	color: #fff;
	background-color: #fd602c;
}
.ms-layer.sbut3 {
	color: #242424;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	border: 1px solid #242424;
	padding: 11px 36px;
	cursor: pointer;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.3s ease 0s;
}
.ms-layer.sbut3:hover {
	color: #fff;
	border: 1px solid #242424;
	background-color: #242424;
}
.ms-layer.sbut4 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.3s ease 0s;
	background-color: #fd602c;
}
.ms-layer.sbut4:hover {
	color: #fff;
	background-color: #242424;
}
.ms-layer.sbut5 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.3s ease 0s;
	background-color: #fd602c;
}
.ms-layer.sbut5:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut5.orange {
	background-color: #fd602c;
}
.ms-layer.sbut5.orange:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut5.violet {
	background-color: #7c50b7;
}
.ms-layer.sbut5.violet:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut2.green2 {
	color: #fff;
	background-color: #3fc35f;
}
.ms-layer.sbut2.green2:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut2.blue {
	color: #fff;
	background-color: #5cccf1;
}
.ms-layer.sbut2.blue:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut6 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	text-transform: uppercase;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 2px;
	transition: all 0.3s ease 0s;
	background-color: #e93e21;
}
.ms-layer.sbut6:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut6.yellow {
	color: #fff;
	background-color: #ffc000;
}
.ms-layer.sbut6.yellow:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut7 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	text-transform: uppercase;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.3s ease 0s;
	border: 1px solid #fff;
}
.ms-layer.sbut7:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut8 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	text-transform: uppercase;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	transition: all 0.3s ease 0s;
	border: 1px solid #727272;
}
.ms-layer.sbut8:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut9 {
	color: #161616;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	text-transform: uppercase;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	transition: all 0.3s ease 0s;
	border: 1px solid #161616;
}
.ms-layer.sbut9:hover {
	color: #fff;
	background-color: #161616;
}
.ms-layer.sbut10 {
	color: #242424;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.3s ease 0s;
	background-color: #fff;
}
.ms-layer.sbut10:hover {
	color: #fff;
	background-color: #8b501f;
}
.ms-layer.sbut11 {
	color: #242424;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.3s ease 0s;
	background-color: #e9ee42;
}
.ms-layer.sbut11:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut11.yellow-3 {
	color: #242424;
	background-color: #f7c800;
}
.ms-layer.sbut11.yellow-3:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut11.pink {
	color: #fff;
	background-color: #f51f6f;
}
.ms-layer.sbut11.pink:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut12 {
	color: #727272;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 11px 36px;
	cursor: pointer;
	text-transform: uppercase;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.3s ease 0s;
	border: 1px solid #727272;
}
.ms-layer.sbut12:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut12.white {
	color: #fff;
	border: 1px solid #fff;
}
.ms-layer.sbut12.white:hover {
	color: #242424;
	border: 1px solid #fff;
	background-color: #fff;
}
.ms-layer.sbut13 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 2px;
	transition: all 0.3s ease 0s;
	background-color: #a5d549;
}
.ms-layer.sbut13:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut14 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	transition: all 0.3s ease 0s;
	background-color: #c3a254;
}
.ms-layer.sbut14:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut15 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #fff;
	transition: all 0.3s ease 0s;
}
.ms-layer.sbut15:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut16 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #ed3325;
	transition: all 0.3s ease 0s;
}
.ms-layer.sbut16:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut17 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #42d1aa;
	transition: all 0.3s ease 0s;
}
.ms-layer.sbut17:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut18 {
	color: #242424;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #fff;
	transition: all 0.3s ease 0s;
}
.ms-layer.sbut18:hover {
	color: #fff;
	background-color: #ce0a6c;
}
.ms-layer.sbut19 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #ce0a6c;
	transition: all 0.3s ease 0s;
}
.ms-layer.sbut19:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut20 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #e9b444;
	transition: all 0.3s ease 0s;
}
.ms-layer.sbut20:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut21 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #1fbef0;
	transition: all 0.3s ease 0s;
}
.ms-layer.sbut21:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut22 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #8ac700;
	transition: all 0.3s ease 0s;
}
.ms-layer.sbut22:hover {
	color: #242424;
	background-color: #fff;
}
.ms-layer.sbut23 {
	color: #242424;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #fff;
	transition: all 0.3s ease 0s;
}
.ms-layer.sbut23:hover {
	color: #fff;
	background-color: #161616;
}
.ms-layer.sbut24 {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	padding: 13px 36px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #161616;
	transition: all 0.3s ease 0s;
}
.ms-layer.sbut24:hover {
	color: #fff;
	background-color: #727272;
}
/*Slider Custom classes*/

.ms-layer.text1 {
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}
.ms-layer.text1.dark {
	color: #242424;
}
.ms-layer.text2 {
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
.ms-layer.text2.dark {
	color: #242424;
}
.ms-layer.text3 {
	color: rgb(8, 8, 8);
	font-size: 32px;
	line-height: 23px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}
.ms-layer.text3.dark {
	color: #727272;
}
.ms-layer.text3.text-right {
	text-align: right;
}
.ms-layer.video-title {
	color: #fff;
	padding: 5px 15px;
	background-color: #fd602c;
}
.ms-layer.video-author {
	color: #fff;
}
.ms-layer.text4 {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	text-align: center;
	color: #FFF;
	font-size: 60px;
	line-height: 60px;
	font-weight: 200;
}
.ms-layer.text5 {
	width: 100%;
	color: #fff;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
.ms-layer.text6 {
	width: 100%;
	color: #d7d7d7;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	line-height: 26px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}
.ms-layer.text6.text-white {
	color: #fff;
}
.ms-layer.text6.gray {
	color: #727272;
}
.ms-layer.text7 {
	width: 100%;
	color: #fff;
	font-size: 16px;
	line-height: 23px;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}
.ms-layer.text8 {
	font-family: 'Droid Serif', serif;
	width: 100%;
	text-align: center;
	color: #FFF;
	font-size: 40px;
	line-height: 60px;
	font-weight: 200;
	text-transform: uppercase;
}
.ms-layer.text9 {
	width: 100%;
	color: #fff;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	font-family: 'Droid Serif', serif;
	font-weight: 600;
	text-transform: uppercase;
}
.ms-layer.text10 {
	color: #fff;
	font-size: 30px;
	line-height: 50px;
	padding: 0px;
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
}
.ms-layer.text10.big {
	font-size: 50px;
}
.ms-layer.text11 {
	width: 100%;
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
}
.ms-layer.text11.big {
	font-size: 60px;
}
.ms-layer.text12 {
	width: 100%;
	color: #fff;
	font-size: 16px;
	line-height: 23px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
}
.ms-layer.text13 {
	width: 100%;
	color: #fff;
	font-size: 16px;
	line-height: 23px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
}
.ms-layer.text14 {
	width: 100%;
	color: #fff;
	font-size: 60px;
	line-height: 23px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}
.ms-layer.text15 {
	color: #fff;
	font-size: 40px;
	line-height: 23px;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
.ms-layer.text16 {
	color: #fff;
	font-size: 70px;
	line-height: 23px;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.ms-layer.text17 {
	color: #fff;
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}
.ms-layer.text18 {
	color: #fff;
	font-size: 50px;
	line-height: 23px;
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-weight: normal;
}
.ms-layer.text19 {
	width: 100%;
	color: #fff;
	font-size: 200px;
	line-height: 23px;
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-weight: normal;
}
.ms-layer.text20 {
	width: 100%;
	color: #fff;
	font-size: 30px;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: 100;
}
.ms-layer.text21 {
	width: 100%;
	color: #fff;
	font-size: 30px;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
}
.ms-layer.text22 {
	color: #fff;
	font-size: 30px;
	line-height: 23px;
	text-align: center;
	padding: 12px;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
	background-color: #161616;
}
.ms-layer.text23 {
	width: 100%;
	color: #fff;
	font-size: 50px;
	line-height: 23px;
	text-align: center;
	padding: 12px;
	font-family: 'Great Vibes', cursive;
	font-weight: normal;
}
.ms-layer.text24 {
	color: #fcc813;
	font-size: 90px;
	line-height: 23px;
	text-align: center;
	padding: 12px;
	font-family: 'Great Vibes', cursive;
	font-weight: normal;
}
.ms-layer.text25 {
	color: #fcc813;
	font-size: 26px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
.ms-layer.text26 {
	color: #fff;
	font-size: 80px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	font-family: 'GFS Didot', serif;
	font-weight: normal;
}
.ms-layer.text27 {
	color: #fff;
	font-size: 50px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
}
.ms-layer.text27.text-center {
	width: 100%;
	text-align: center;
}
.ms-layer.text28 {
	color: #f7c800;
	font-size: 60px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}
.ms-layer.text28.text-center {
	width: 100%;
	text-align: center;
}
.ms-layer.text29 {
	color: #fff;
	font-size: 30px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}
.ms-layer.text30 {
	color: #fff;
	font-size: 60px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}
.ms-layer.text31 {
	color: #fff;
	font-size: 40px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}
.ms-layer.text31.text-center {
	width: 100%;
	text-align: center;
}
.ms-layer.text32.text-center {
	width: 100%;
	text-align: center;
}
.ms-layer.text7.text-center {
	width: 100%;
	text-align: center;
}
.ms-layer.text32 {
	color: #fff;
	font-size: 80px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}
.ms-layer.text33 {
	color: #fff;
	font-size: 40px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: normal;
}
.ms-layer.text34 {
	width: 100%;
	color: #fff;
	font-size: 50px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.ms-layer.text35 {
	color: rgb(7, 7, 7);
	font-size: 60px;
	text-align: left;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
}
.ms-layer.text36 {
	color: #fff;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
}
.ms-layer.text37 {
	width: 100%;
	color: #fff;
	font-size: 60px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
}
.ms-layer.offer-badge {
	width: 165px;
	height: 165px;
	color: #fff;
	font-size: 26px;
	text-align: center;
	padding: 0;
	border-radius: 100%;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	background-color: #f43819;
}
.ms-layer.text38 {
	color: #fff;
	font-size: 30px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.ms-layer.text39 {
	color: #fff;
	font-size: 50px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.ms-layer.text40 {
	color: #fff;
	font-size: 50px;
	line-height: 23px;
	text-align: center;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}
.ms-layer.text41 {
	color: #727272;
	font-size: 16px;
	line-height: 23px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}
.ms-layer.text42 {
	color: #fff;
	font-size: 40px;
	line-height: 23px;
	padding: 0px;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}
.ms-layer.text43 {
	color: #fff;
	font-size: 50px;
	line-height: 23px;
	padding: 0px;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
}
.ms-layer.text43 span {
	color: #ce0a6c;
}
.ms-layer.text44 {
	color: #fff;
	font-size: 24px;
	line-height: 23px;
	padding: 5px;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	background-color: #ce0a6c;
}
.ms-layer.text45 {
	color: #242424;
	font-size: 24px;
	line-height: 23px;
	padding: 5px;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	background-color: #fff;
}
.ms-layer.text46 {
	color: #fff;
	font-size: 24px;
	line-height: 23px;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Michroma', sans-serif;
	font-weight: normal;
}
.ms-layer.text47 {
	color: #fff;
	font-size: 48px;
	line-height: 23px;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Michroma', sans-serif;
	font-weight: normal;
}
.ms-layer.text48 {
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.ms-layer.text48.no-border {
	border-bottom: none;
}
.ms-layer.text49 {
	color: #fff;
	font-size: 16px;
	line-height: 23px;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}
.ms-layer.offerbadge {
	background-color: #8ac700;
	border-radius: 100%;
	color: #fff;
	float: left;
	font-size: 18px;
	height: 120px;
	margin: 0;
	padding: 30px 0 0 0;
	text-align: center;
	width: 150px;
}
.ms-layer.offerbadge {
	background-color: #8ac700;
	border-radius: 100%;
	color: #fff;
	float: left;
	font-size: 18px;
	height: 120px;
	margin: 0;
	line-height: 23px;
	padding: 30px 0 0 0;
	text-align: center;
	width: 150px;
}
.ms-layer.offerbadge.two {
	background-color: #fff;
	color: #858585;
	font-size: 16px;
	height: 90px;
	line-height: 22px;
	padding: 20px 0 0 0;
	width: 110px;
}
.ms-layer.offerbadge.orange-2 {
	background-color: #fd602c;
}
.ms-layer.offerbadge span.price {
	font-size: 30px;
	font-weight: bold;
	line-height: 40px;
	margin-top: 5px;
	padding: 0 0 5px;
	text-align: center;
}
.ms-layer.offerbadge span.price.two {
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	margin-top: 5px;
	padding: 0 0 5px;
	text-align: center;
}
.ms-layer.text50 {
	width: 100%;
	color: #fff;
	font-size: 60px;
	text-align: right;
	font-family: 'Great Vibes', cursive;
	font-weight: normal;
}
.ms-layer.text50.text-left {
	text-align: left;
}
.ms-layer.text51.text-left {
	text-align: left;
}
.ms-layer.text51 {
	width: 100%;
	color: #fff;
	font-size: 60px;
	text-align: right;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}
.ms-layer.text52 {
	width: 100%;
	color: #fff;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}
.ms-layer.text52.dark {
	color: #242424;
}
.ms-layer.text53 {
	width: 100%;
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
.ms-layer.text53.dark {
	color: #242424;
}
.ms-layer.text54 {
	width: 100%;
	color: #fff;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}
.ms-layer.text55 {
	width: 100%;
	color: #fff;
	font-size: 60px;
	line-height: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
.ms-layer.text56 {
	width: 100%;
	color: #fff;
	font-size: 80px;
	line-height: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}
.ms-layer.text57 {
	width: 100%;
	color: #fff;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.ms-layer.text58 {
	color: #242424;
	font-size: 30px;
	text-align: center;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	background-color: #fff;
}
.ms-layer.text59 {
	color: #fff;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	background-color: #fd602c;
}
.ms-layer.text60 {
	color: #fff;
	font-size: 60px;
	line-height: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
.ms-layer.text61 {
	color: #fff;
	font-size: 90px;
	line-height: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.ms-layer.text62 {
	color: #fff;
	font-size: 100px;
	line-height: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.ms-layer.text62 span {
	color: #fd602c;
}
.ms-layer.text63 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
	padding: 5px;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.8);
}
.ms-layer.text64 {
	color: #fff;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
	padding: 5px;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.8);
}
.ms-layer.text65 {
	color: #fff;
	font-size: 30px;
	line-height: 23px;
	text-align: right;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
}
.ms-layer.text66 {
	color: #fff;
	font-size: 50px;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
}
.ms-layer.text67 {
	width: 100%;
	color: #fff;
	font-size: 30px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 30px;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
}
.ms-layer.text68 {
	width: 100%;
	color: #fff;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 20px;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
}
.ms-layer.text69 {
	width: 100%;
	color: #161616;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 20px;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
}
.ms-layer.text70 {
	width: 100%;
	color: #161616;
	font-size: 30px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 30px;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
}
.ms-layer.text71 {
	width: 100%;
	color: #161616;
	font-size: 40px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 15px;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
}
.ms-layer.text72 {
	width: 100%;
	color: #161616;
	font-size: 70px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 20px;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
}
.ms-layer.text73 {
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 20px;
	line-height: 50px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.ms-layer.text74 {
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 30px;
	line-height: 50px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.ms-layer.text75 {
	color: #fff;
	font-size: 16px;
	line-height: 50px;
	text-align: right;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
.ms-layer.text75.text-left {
	text-align: left;
}
.ms-layer.text75 i {
	color: #8ac700;
	font-size: 16px;
	margin-left: 10px;
}
.ms-layer.box-rotate {
	width: 380px;
	height: 380px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	-webkit-transform: rotate(42deg);
	-moz-transform: rotate(42deg);
	-o-transform: rotate(42deg);
	writing-mode: rl-tb;
}
.ms-layer.text76 {
	color: #fff;
	font-size: 100px;
	line-height: 50px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
.ms-layer.text77 {
	color: #fff;
	font-size: 150px;
	line-height: 50px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
.ms-layer.small-line {
	width: 160px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.3)
}
.ms-layer.text78 {
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	text-align: left;
	letter-spacing: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
.ms-layer.text79 {
	width: 100%;
	color: #fff;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
.ms-layer.text80 {
	width: 100%;
	color: #fff;
	font-size: 60px;
	line-height: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.ms-layer.text81 {
	width: 100%;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
.ms-layer.box-white {
	width: 380px;
	height: 380px;
	border: 3px solid #fff;
}
.ms-layer.text82 {
	color: #fff;
	font-size: 60px;
	line-height: 50px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
.ms-layer.text83 {
	color: #fff;
	font-size: 150px;
	line-height: 50px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
.ms-layer.text-center {
	width: 100%;
	text-align: center;
}
.ms-layer.text54.dark {
	color: #727272;
}
.ms-layer.uppercase {
	text-transform: uppercase;
}
.ms-layer.font-weight-1 {
	font-weight: 100;
}
.ms-layer.font-weight-2 {
	font-weight: 200;
}
.ms-layer.font-weight-3 {
	font-weight: 300;
}
.ms-layer.font-weight-4 {
	font-weight: 400;
}
.ms-layer.font-weight-5 {
	font-weight: 500;
}
.ms-layer.font-weight-6 {
	font-weight: 600;
}
.ms-layer.font-weight-7 {
	font-weight: 700;
}
.ms-layer.font-weight-8 {
	font-weight: 800;
}
.ms-layer.font-weight-9 {
	font-weight: 900;
}
/*=============== text colors ============= */

.ms-layer.text-white {
	color: #fff;
}
/* text dark
 ------------------------------ */
.ms-layer.text-dark {
	color: #242424;
}
/* text colors
 ------------------------------ */
.ms-layer.text-dark {
	color: #242424;
}
/*=============== Titles ============= */

.ms-layer.font-size-14 {
	font-size: 14px;
}
.ms-layer.font-size-16 {
	font-size: 16px;
}
.ms-layer.font-size-20 {
	font-size: 20px;
}
.ms-layer.font-size-30 {
	font-size: 30px;
}
.ms-layer.font-size-40 {
	font-size: 40px;
}
.ms-layer.font-size-50 {
	font-size: 50px;
}
.ms-layer.font-size-60 {
	font-size: 60px;
}
.ms-layer.font-size-70 {
	font-size: 70px;
}
.ms-layer.font-size-80 {
	font-size: 180px;
}
.ms-layer.font-size-90 {
	font-size: 90px;
}
.ms-layer.font-size-100 {
	font-size: 100px;
}
 @media only screen and (min-width: 1000px) and (max-width: 1169px) {
.ms-layer.offer-badge {
	width: 120px;
	height: 120px;
	font-size: 26px;
}
.ms-layer.offerbadge {
	font-size: 14px;
	height: 80px;
	padding: 30px 0 0 0;
	width: 100px;
}
.ms-layer.offerbadge span.price {
	font-size: 20px;
	line-height: 20px;
}
.ms-layer.offerbadge.two {
	font-size: 14px;
	height: 60px;
	padding: 30px 0 0 0;
	width: 80px;
}
.ms-layer.offerbadge span.price.two {
	font-size: 14px;
	line-height: 20px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 999px) {
.ms-layer.offer-badge {
	width: 120px;
	height: 120px;
	font-size: 40px;
}
.ms-layer.offerbadge {
	font-size: 12px;
	height: 60px;
	padding: 20px 0 0 0;
	width: 80px;
}
.ms-layer.offerbadge span.price {
	font-size: 14px;
	line-height: 20px;
}
.ms-layer.offerbadge.two {
	font-size: 14px;
	height: 40px;
	padding: 10px 0 0 0;
	width: 50px;
}
.ms-layer.offerbadge span.price.two {
	font-size: 14px;
	line-height: 20px;
}
}
 @media only screen and (min-width: 640px) and (max-width: 767px) {
.ms-layer.offer-badge {
	width: 100px;
	height: 100px;
	font-size: 36px;
}
.ms-layer.offerbadge {
	font-size: 12px;
	height: 40px;
	padding: 10px 0 0 0;
	width: 50px;
}
.ms-layer.offerbadge span.price {
	font-size: 14px;
	line-height: 20px;
}
.ms-layer.offerbadge.two {
	font-size: 14px;
	height: 40px;
	padding: 10px 0 0 0;
	width: 50px;
}
.ms-layer.offerbadge span.price.two {
	font-size: 14px;
	line-height: 20px;
}
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
.ms-layer.offer-badge {
	width: 100px;
	height: 100px;
	font-size: 40px;
}
.ms-layer.offerbadge {
	font-size: 12px;
	height: 40px;
	padding: 10px 0 0 0;
	width: 50px;
}
.ms-layer.offerbadge span.price {
	font-size: 14px;
	line-height: 20px;
}
.ms-layer.offerbadge.two {
	font-size: 14px;
	height: 40px;
	padding: 10px 0 0 0;
	width: 50px;
}
.ms-layer.offerbadge span.price.two {
	font-size: 14px;
	line-height: 20px;
}
}
@media only screen and (max-width: 479px) {
.ms-layer.offer-badge {
	width: 60px;
	height: 60px;
	font-size: 50px;
}
.ms-layer.offerbadge {
	font-size: 12px;
	height: 40px;
	padding: 10px 0 0 0;
	width: 50px;
}
.ms-layer.offerbadge span.price {
	font-size: 14px;
	line-height: 20px;
}
.ms-layer.offerbadge.two {
	font-size: 14px;
	height: 40px;
	padding: 10px 0 0 0;
	width: 50px;
}
.ms-layer.offerbadge span.price.two {
	font-size: 14px;
	line-height: 20px;
}
}


/*===============================================
		Master Slider Default Skin
================================================*/

.ms-skin-default .ms-timerbar {
	top: 1px;
	bottom: auto;
}
.ms-skin-default .ms-time-bar {
	height: 3px;
	background: white;
	background: rgba(255, 255, 255, 0.6);
	border-top: none;
}
.ms-layer {
	margin: 0;
	padding: 0;
	line-height: 100%;
	letter-spacing: 0;
}
.slide-1 .hps-title1 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
}
.slide-1 .hps-title2 {
	font-size: 28px;
	font-weight: 300;
	text-transform: uppercase;
	color: #508295;
}
.slide-2 .hps-title1 {
	font-weight: 300;
	font-size: 45px;
	text-transform: uppercase;
	color: white;
	background-color: #f65256;
	padding: 6px 9px;
}
.slide-2 .hps-title2 {
	font-weight: 300;
	font-size: 32px;
	text-transform: uppercase;
	background: white;
	padding: 11px 12px;
}
.slide-3 .hps-title1 {
	font-weight: 900;
	color: white;
	text-transform: uppercase;
	font-size: 46px;
}
.slide-3 .hps-title2 {
	font-weight: 300;
	font-size: 20px;
	text-transform: uppercase;
	color: white;
}
.slide-3 .hps-amp {
	font-weight: 100;
	font-size: 78px;
	color: #7C96BD;
}
.slide-3 .hps-title3 {
	color: white;
	font-size: 37px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 10px 12px;
	background-color: #dd0d14;
}
.slide-3 .hps-title4 {
	color: white;
	background-color: black;
	font-size: 37px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 10px 14px;
}
.ms-tooltip {
	max-width: 250px !important;
}
.ms-tooltip .product-tt {
	font-size: 1em;
	padding: 5px;
	color: #222;
	text-shadow: none;
}
.ms-tooltip .product-tt h3 {
	font-size: 1.4em;
	color: #222;
	margin: 0 0 5px 0;
	font-weight: 400;
}
.slide-4 .hps-title1 {
	font-weight: 600;
	font-size: 23px;
	text-transform: uppercase;
	color: #222;
}
.slide-5 .hps-title1, .slide-5 .hps-title2 {
	color: white;
	text-transform: uppercase;
	font-size: 2.6em;
	font-weight: 300;
	text-shadow: 0 1px black;
}
.slide-5 .hps-title3 {
	background-color: #61c6d7;
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight: 400;
	color: black;
	text-shadow: 0 1px white;
	padding: 13px;
}
.slide-5 .hps-text1 {
	color: white;
	text-shadow: 0 1px black;
	width: 30%;
	line-height: 19px;
	font-size: 14px;
}
.slide-6 .hps-title1 {
	color: #222;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 2.3em;
	line-height: 26px;
	text-shadow: 0 1px white;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 17px 23px;
}
.slide-6 .hps-title1 > .sub-title {
	font-weight: 300;
	font-size: 0.7em;
}
.slide-6 .hps-title2 {
	color: white;
	text-shadow: 0 1px black;
	background-color: #222;
	font-weight: 400;
	font-size: 1em;
	padding: 10px 25px;
}
.slide-6 .hps-title3 {
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	text-shadow: 0 1px black;
	font-size: 1.2em;
	padding: 18px 25px;
	background-color: #df192a;
}
.slide-6 .hps-title3-vimeo {
	background-color: #1bb6ec;
	padding: 17px 25px;
}
.slide-7 .hps-title1 {
	color: white;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 60px;
	text-shadow: 0 1px black;
}
.slide-7 .hps-title2 {
	text-transform: uppercase;
	color: #f74e50;
	text-shadow: 0 1px black;
	font-size: 21px;
	letter-spacing: 0.76em;
	font-weight: 900;
}
.slide-7 .hps-title3 {
	color: white;
	text-transform: uppercase;
	text-shadow: 0 1px black;
	background-color: #222;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 14px 81px;
	font-size: 14px;
	font-weight: 400;
}
.slide-video {
	color: #222;
	text-shadow: 0 1px white;
}
.slide-video .hps-vicapton-box {
	width: 48%;
	height: 24%;
	background: rgba(255, 255, 255, 0.6);
}
.slide-video .hps-hd {
	font-weight: 900;
	font-size: 130px;
}
.slide-video .hps-videotitle {
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 300;
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-ms-transform-origin: top right;
	-o-transform-origin: top right;
	transform-origin: top right;
}
.slide-video .hps-videotext {
	width: 29%;
	line-height: 22px;
}
/*----------------------------------------*/

.hrow {
	position: relative;
	min-height: 253px;
}
.hrow.row-title {
	height: 195px;
	min-height: 0;
	background-color: #eee;
	text-align: center;
}
.row-arrow {
	position: absolute;
	height: 10px;
	border-left: solid 18px rgba(0, 0, 0, 0);
	border-right: solid 18px rgba(0, 0, 0, 0);
	border-top: solid 20px #EEE;
	top: 0;
	left: 50%;
	margin-left: -18px;
}
.row-title h2 {
	margin-top: 84px;
	padding: 0 15px 25px;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: #4F2840;
	display: inline-block;
	text-shadow: 0 1px 0px #FFF;
	font-size: 1.15em;
	text-transform: uppercase;
	background: url("http://www.masterslider.com/wp-content/uploads/home-title-arrow.gif") no-repeat center 32px;
}
.hrow.white-hrow {
	background: #Fbfbfb;
}
.hrow.gray-hrow {
	background: #eee;
}
.hrow.gray-hrow .row-content {
	text-shadow: 0 1px 0 #FFF;
}
.hrow .row-content {
	padding: 70px 60px 0 550px;
}
.hrow .feature-img {
	position: absolute;
	bottom: 0;
	margin: 0;
}
.hrow .row-content>p {
	margin: 0px;
	padding-bottom: 20px;
}
.hrow .row-content>h3 {
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 0;
	font-size: 2.3em;
	color: #333;
}
.hrow.gray-hrow .row-content {
	padding: 70px 550px 0 80px;
}
.hrow.gray-hrow .feature-img {
	right: 0;
}
.hrow.fe-transitions .row-content {
	padding-left: 585px;
}
 @media only screen and (max-width: 1199px) {
.row-content {
	padding-top: 50px !important;
}
.hrow .row-content>h3 {
	font-size: 1.5em;
}
}
 @media only screen and (max-width: 990px) {
.hrow.fe-transitions .row-content,  .hrow.fe-flickr .row-content {
	padding-top: 40px !important;
}
}
 @media only screen and (max-width: 960px) {
.hrow {
	min-height: 197px !important;
}
.hrow.row-title {
	height: 120px !important;
	min-height: 0px !important;
}
.row-title h2 {
	margin-top: 40px;
}
.hrow .feature-img {
	width: 40%;
}
.hrow.gray-hrow .row-content {
	padding-right: 45%;
	padding-left: 50px;
}
.hrow.white-hrow .row-content {
	padding-left: 45%;
	padding-right: 50px;
}
}
 @media only screen and (max-width: 650px) {
.hrow .feature-img {
	width: 90%;
	position: relative;
	float: none !important;
	display: block;
}
.hrow .row-content {
	padding-right: 30px !important;
	padding-left: 30px !important;
	text-align: center;
}
.hrow.gray-hrow .feature-img {
	margin-left: 10%;
}
.hrow.white-hrow .feature-img {
	margin-right: 10%;
}
}
